# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear

# Virtual machine crash logs
hs_err_pid*

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
bin/
target/
